*{
    font-family: 'Mulish', sans-serif;
    /* margin-right: 0 auto;
    margin-left: 0 auto; */
}

/* Header design */
.nav{
    display: flex;
}

.header_title{
    /* border: 1px solid blue; */

    display: flex;
    gap: 20px;
    margin-left: 50px;
}

.header_title h2{
    font-size: 36px;
    display: flex;
    color: #131318;
    font-weight: 800;
}

.header_title h2 span{
    color: #FF5400;
}

.header_title img{
    margin-top: 25px;
    max-width: 50%;
    max-height: 50%;
}

nav{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 450px;
}

.nav nav ul{
    /* border: 1px red solid; */

    margin-top: 40px;
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav nav ul li a{
    color: #424247;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.nav nav ul li .home{
    color: #FF5400;
}

/* banner design */


.banner_img{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(Images/banner_img.png);
}

.banner_title{
    position: absolute;
    top: 25%; 
    left: 22%;
    color: #FFF;
    font-size: 45px;
    font-weight: 800;
}

.banner_description{
    position: absolute;
    top: 55%;
    left: 30%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.input{
    position: absolute;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    top: 65%;
    left: 20%;

    background: rgba(255, 255, 255, 0.30);
}

.input input{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;

    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    
}

.input .primary-btn{
    width: 174px;
    height: 52px;

    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* Popular tour section */
.popular_tour{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
}

.about{
    /* border: 2px solid tomato; */
    width: 575px;
}

.about h2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.about p{
    color: rgba(19, 19, 24, 0.70);
    size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.about ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style: square;
}

.about .primary-btn{
    width: 174px;
    height: 52px;

    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* choose_ur_destination design */
.choose_ur_destination{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
}

.choose_ur_destination .written_part h2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose_ur_destination .written_part p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.choose_ur_destination .img_part{
    gap: 5px;
}

